.background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #1bb954;
  background-color: #000000; /* Set black background color */
  min-height: 100vh; /* Cover the entire viewport */
  height: auto;
}

.leftsection,
.rightsection {
  position: absolute;
  top: 5px;
  bottom: 5px; /* Stretch from 5px from the top to 5px from the bottom */
  border-radius: 15px;
  margin: 2.5px; /* Add margin to create a gap */
  z-index: 1;
  height: auto;
}

.leftsection {
  left: 5px;
  width: calc(66.66% - 10px); /* 2/3 of the available space minus the gap */
  background-color: #1f1f1f;
}

.rightsection {
  right: 5px;
  width: calc(33.33% - 10px); /* 1/3 of the available space minus the gap */
  background-color: #1f1f1f;
}


