.tableContainer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.table {
  width: 90%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
}

.table th {
  border-bottom: 1px solid #333737;
  color: #666;
}

.table td {
  color: white;
}

.table tr {
  padding-bottom: 15px;
}

.table tr:not(thead tr):hover {
  background-color: #333737;
}

.table button {
  background-color: transparent;
  color: white;
  border-radius: 12px;
  border: 1px solid #666666; /* White border */
  padding: 6px 10px; /* Adjust padding as needed */
  cursor: pointer;
  transition: color 0.3s;
  margin-top: 4.5px;
}

.table button:hover {
  border-color: white; /* White border */
}
